<%- include('../layouts/adminHeader'); %>
<div class="site-wrap">

    <nav class="site-nav">
  
      <div class="name">
        Luxe Loot
  
        
      </div>
  
      <ul>
        <li class="active"><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/product">Products</a></li>
        <li><a href="/admin/categories">Categories</a></li>
        <li><a href="/admin/brands">Brand</a></li>
        <li><a href="/admin/admins">Admins</a></li>
        <li><a href="/admin/customer">Customers</a></li>
        <li><a href="/admin/Banner">Banners</a></li>
        <li><a href="/admin/payments">Payments</a></li>
        <li><a href="/admin/orders">Orders</a></li>

      </ul>
  
      <div class="note">
        <a href="/admin/logout"><button class="btn">Logout</button></a>
      </div>
  
    </nav>
  
    <main>
        
    </main>
  
  </div>


<%- include('../layouts/adminFooter') %>