<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/css/user/userlogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <!-- ajax link -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.2.7/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
	<div class="main" style="height: 400px !important;">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="" method="post">
					<label for="chk" aria-hidden="true" style="margin-top: 30%;">Reset Password</label>
					<input type="email" name="Username" placeholder="Your Registered Email" id="email-validation" required oninput="validateEmail()" >
                    <span id="error"></span>
                    <% if(messages.error){  %>
                    <span> <%= messages.error  %></span>
                    <% } %>
                    <button type="button" id="resetPasswordBtn">Verify</button>
				</form>
			</div>
	</div>
</body>

<script>
     	function validateEmail() {
            var emailInput = document.getElementById('email-validation');
            var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
            var emailError = document.getElementById('error');
            if (!emailRegex.test(emailInput.value)) {
                emailError.innerText = 'Invalid email address';
            } else {
                emailError.innerText = '';
            }
        }

        $(document).ready(function() {
            $('#resetPasswordBtn').click(function(e) {
                e.preventDefault();

                var email = $('#email-validation').val();
                console.log(email)
                $.ajax({
                url: '/forgotPassword', // Change this to your server-side endpoint
                type: 'POST',
                data: {
                    email: email
                },
                success: function(response) {
                    if(response.success==true)
                    {
                        Swal.fire({
                            icon: "success",
                            title: response.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                    if(response.error){
                        Swal.fire({
                            
                            icon: "warning",
                            title: response.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                    // Handle success response
                   
                },
                error: function() {
                    // Handle error response
                    Swal.fire({
                        icon: "error",
                        title: "Oops....!",
                        text: "Something went wrong!"
                    });
                }
                });
            });
        });

</script>

</html>