<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/css/user/userlogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <!-- ajax link -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.2.7/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
	<div class="main" style="height: 400px !important;">  	
		<input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup" style="padding-top: 14% !important;">
            <form action="" method="post">
                <label for="chk" aria-hidden="true" style="font-size: 1.3em !important;"> <%= email%> </label>
                <input type="password" name="Password" placeholder="Password" id="password-check" required oninput="validatePassword()">
                <input type="password" name="ConfirmPassword" placeholder="Confirm Password" id="repeat-password" required oninput="validateRepeatPassword()">
                <span id="error"></span>
                <% if(messages.error){  %>
                <span> <%= messages.error  %></span>
                <% } %>
                <button type="submit">Save</button>
            </form>
        </div>
	</div>
</body>

<script>
     	function validatePassword() {
            var passwordInput = document.getElementById('password-check');
            var passwordError = document.getElementById('error');
            if (passwordInput.value.trim().length < 8 || /\s/.test(passwordInput.value)) {
                passwordError.innerText = 'Password must be at least 8 characters';
            } else {
                passwordError.innerText = '';
            }
        }

		function validateRepeatPassword() {
            var repeatPasswordInput = document.getElementById('repeat-password');
            var passwordInput = document.getElementById('password-check');
            var repeatPasswordError = document.getElementById('error');
            if (repeatPasswordInput.value.trim() !== passwordInput.value.trim()) {
                repeatPasswordError.innerText = 'Passwords do not match';
            } else {
                repeatPasswordError.innerText = '';
            }
        }

        $(document).ready(function() {
            $('#resetPasswordBtn').click(function(e) {
                e.preventDefault();

                var email = $('#email-validation').val();
                console.log(email)
                $.ajax({
                url: '/forgotPassword', // Change this to your server-side endpoint
                type: 'POST',
                data: {
                    email: email
                },
                success: function(response) {
                    if(response.success==true)
                    {
                    
                    }
                    if(response.error){
                        Swal.fire({
                            
                            icon: "warning",
                            title: "Email is Not Registered",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                    // Handle success response
                   
                },
                error: function() {
                    // Handle error response
                    Swal.fire({
                        icon: "error",
                        title: "Oops....!",
                        text: "Something went wrong!"
                    });
                }
                });
            });
        });

</script>

</html>